/* header_fix start */
.header_fix{
  width: 100%;
  position: fixed;
  z-index: 20;
  top: 0px;
  background-color:#101820;
  color: white;
  font-size: 15px;
  padding: 10px;
}
/* header_fix End */


body{
 font-family: Arial, sans-serif;
}
.main-fooder{
  background-color: white;
  box-shadow: 0px 8px 61px -26px #0a0c0c;
  padding: 60px;
  margin-top: 380px;

}
.header{  
  margin: 0 auto;
  display: flex;
}
.header img{
  padding-top: 5px;
}
.singin{
  margin-left: auto;
  font-size: 16px;  
  font-weight: bold;
  padding: 20px;
  cursor: pointer;
}
.toggle {
  display: none;  
}
.product_header{
  padding: 20px !important;
  text-align: center;
}

@media only screen and (max-width: 765px) {
  
  .singin {
    display: none;
  }
  .toggle {
    display: block;
    margin-left: auto;
    font-size: 16px;  
    font-weight: bold;
    padding: 20px;
    cursor: pointer
  }

  .container_baner img{
    display: none;    
  }  
  .ordering{
    font-size: 20px !important;
    text-align: center;
    color:black !important;
    z-index: 5;
    margin-top: -80px;
    font-weight: normal !important;
  }
  .fuatuer_product_header{
    width: 100%;
    color: black;
    font-size: 20px !important;
    margin-top: 45%;
  }
  .product_header{
    padding: 20px !important;
    text-align: center;
  }
  
  .delivary{
    margin-top: 30px !important;
  }
  .menubar{
    width: 100% !important;
  }
  .menubar div a{
    font-size: 15px;    
  }
  
  .menubar img{
    display: none;    
  }
  .fooder_aboutmenu >div{
    display: none;
  }
  .fooder_social_img{
    display: none;
  }  

.mobile_sitebar{
  display: block;
  box-shadow: -9px 0px 15px -9px #cdcfcf;
  position: fixed;
  z-index: 10;
  background-color: white;
  width: 80%;
  height: 100%;
  right: 0px;
  top: 0px;
  padding: 20px;
  display: flex;
}

.profile img{
  width: 80px;
  position: absolute;
  right: 3px;
  top: 5px;
}
.sing_list{
  position: absolute;
  top: 90px;
  width: 100%;  
  font-size: 15px;
  line-height: 40px;
  list-style: none;
  left: 25px;
}
.sing_list li:first-child {
  border-bottom: 1px solid lightgray;
  padding: 0px 0px 10px 0px;
}

.sing_list li:nth-child(2) {
  border-bottom: 1px solid lightgray;
  padding: 10px 0px 10px 0px;
}


}

 




.homepageimg{
  position: relative;
}

.homepageimg img{
  width:100%;
}

.container_baner {  
  position: relative;
}

.delivary{
  width: 100%;
  margin: 0 auto;
  text-align: center;
  top: 50%;  
  position: absolute;
  color: white;
  animation-name: delivbtnanimation;
  animation-duration: 2s;
  animation-iteration-count: 300;
}

@keyframes delivbtnanimation {
  0%  {top: 50%}
  50%  {top: 55%}
  100% {top: 50%}
}


.delivarybtn{
  background-color: #e4002b;
  color: white;
  width: 240px;
  font-size: 15px;
  margin-bottom: 30px;
}


.ordering{
  position: absolute;
  top: 70px;
  font-weight: bolder;
  color: white;
  font-size: 30px;
  width: 100%;
  text-align: center;
}


.fuatuer_product_header{
  text-align: center;
  font-size: 23px;
  padding: 50px;
}
 
.tabhoverlick{
  display: none;
}

.product_name{
  color: white;
  background-color: black;
  opacity: 0.5;
  height: 80px;
  width: 100%;
  bottom: 0px;
  padding: 30px;
  position: absolute;
}
 

/* menubar start */
.main_menubar{
  background-color:#101820;
  color: white;
  font-size: 15px;
  padding: 17px;
}
.menubar{
  display: flex;
  width: 80%;
  margin: 0 auto;  
}
.menubar img{
  width:30px;
  height:30px;
  margin-right: 10px;
}
.menubar > div{
  width: 180px;
  text-align: center;
  cursor: pointer;
}

.menubar > div:hover{
  background-color: #1c64522e;    
  border-radius: 14px;
}
/* menubar End */


.fooder_aboutmenu{
  display: flex;  
  font-size: 14px;
}
.fooder_aboutmenu > div{
  padding: 8px;
  font-size: 14px;
  margin-top: -50px;
  cursor: pointer;
}

.fooder_aboutmenu > div:hover{
  color: lightgray;
}
.fooder_social_img img{
  width: 35px;
  height: 25px;  
  padding-left: 5px;
  margin-left: 5px;
}

.fooder_so{  
  border-top: 1px solid lightgray;
  margin: 0 auto;
  text-align: center;
  font-size: 14px;
  width: 100% !important;  
}
.fooder_text{
  font-size: 14px;
  width: 100%;
  padding-top: 40px;
  margin:0 auto;
  text-align: center;
}
.addtocart{
  cursor: pointer;  
}
 
.checkout{
  margin-top: 20px;
  margin-right: 50px;
  padding: 10px;
  text-align: center;
  font-size:14px;
  cursor: pointer;
  width: 150px;
  background-color: #557b97;
  color: white; 
}

.ship{
  cursor: pointer;
}
.pickup{
  cursor: pointer;
}
 